<div class="center jumbotron">
  <h1>Sample App</h1>

  <h2>
    Home page for sample app.
  </h2>

  <%= link_to "Sign up now.", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<img alt="Kitten logo" src="/assets/kitten.jpeg" />
